<%= form_for(@position_mapper) do |f| %>
  <% if @position_mapper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position_mapper.errors.count, "error") %> prohibited this position_mapper from being saved:</h2>

      <ul>
      <% @position_mapper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :x_min %><br />
    <%= f.number_field :x_min %>
  </div>
  <div class="field">
    <%= f.label :x_max %><br />
    <%= f.number_field :x_max %>
  </div>
  <div class="field">
    <%= f.label :y_min %><br />
    <%= f.number_field :y_min %>
  </div>
  <div class="field">
    <%= f.label :y_max %><br />
    <%= f.number_field :y_max %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.number_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
