<%= form_for(@position_mapper) do |f| %>
  <% if @position_mapper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position_mapper.errors.count, "error") %> prohibited this position_mapper from being saved:</h2>

      <ul>
      <% @position_mapper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset class="register">
  <div class="clearfix">
    <%= f.label :x_min %>
	<div class="input">
    	<%= f.number_field :x_min %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :x_max %>
	<div class="input">
    	<%= f.number_field :x_max %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :y_min %>
	<div class="input">
    	<%= f.number_field :y_min %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :y_max %>
	<div class="input">
    	<%= f.number_field :y_max %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :description %>
	<div class="input">
    	<%= f.text_field :description %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :code %>
	<div class="input">
    	<%= f.text_field :code %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.submit "Salvar", :class => "btn" %>
  </div>
</fieldset>
<% end %>
