<% content_for :title, t(:positions) %>
<h1 class="subtitle"><%= t(:positions) %></h1>
<%= link_to 'Novo', new_position_mapper_path, :class => "btn" %>
<section id="record-section">
	<div class="record-list">
		<ul>
			<% @position_mappers.each do |position_mapper| %>
				<li>
					<fieldset>
						<p><%= position_mapper.x_min %></p>
						<p><%= position_mapper.x_max %></p>
					    <p><%= position_mapper.y_min %></p>
					    <p><%= position_mapper.y_max %></p>
						<p><%= position_mapper.description %></p>
						<p><%= position_mapper.code %></p>
						<% if can? :edit, position_mapper %>
						<%= link_to "", edit_position_mapper_path(position_mapper), :class => "button edit" %>
						<% end %>
						<% if can? :destroy, position_mapper %>
							<%= link_to "", position_mapper, :confirm => t(:are_you_sure), :method => :delete, :class => "button destroy" %>
						<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</section>