<% content_for :title, t(:teams) %>
<h1 class="subtitle"><%= t(:teams) %></h1>
<%= link_to 'Novo', new_team_path, :class => "btn" %>
<section id="record-section">
	<div class="record-list">
		<ul>
			<% @teams.each do |team| %>
				<li>
					<p><%= team.name %></p>
					<% if can? :edit, team %>
						<%= link_to "", edit_team_path(team), :class => "button edit" %>
					<% end %>
					<% if can? :destroy, team %>
						<%= link_to "", team, :confirm => t(:are_you_sure), :method => :delete, :class => "button destroy" %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</section>