<% content_for :title, t(:resend_confirmation_instructions) %>
<h1 class="subtitle"><%= t(:resend_confirmation_instructions) %></h1>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
	<fieldset class="register">
		<div class="clearfix">
	  		<%= f.email_field :email, :placeholder => t(:email) %>		
	  	</div>
		<div class="clearfix">
	  		<%= f.submit t(:resend_confirmation_instructions), :class => "btn primary" %>
	  	</div>
	</fieldset>
<% end %>
<%= render :partial => "devise/shared/links" %>