<h2><%= t(:resend_confirmation_instructions) %></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  	<fieldset>
		<div class="clearfix">
			<div>
				<%= f.label :email %>
				<div class="input">
					<%= f.email_field :email %>
				</div>
			</div>
		</div>
	</fieldset>

  	<div class="actions">
		<%= f.submit t(:resend_confirmation_instructions), :class => "btn primary" %>
	</div>
<% end %>
<%= render :partial => "devise/shared/links" %>