<h2><%= t(:sign_up) %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
	<div class="clearfix">
  		<div>
			<%= f.label :email %>
			<div class="input">
  				<%= f.email_field :email %>
			</div>
		</div>
  	</div>

	<div class="clearfix">
  		<div>
			<%= f.label t(:nickname) %>
			<div class="input">
  				<%= f.text_field :nickname %>
			</div>
		</div>
  	</div>

	<div class="clearfix">
  		<div>
			<%= f.label :password, t(:password) %>
			<div class="input">
  				<%= f.password_field :password %>
			</div>
		</div>
  	</div>

	<div class="clearfix">
  		<div>
			<%= f.label :password_confirmation, t(:password_confirmation) %>
			<div class="input">
  				<%= f.password_field :password_confirmation %>
			</div>
		</div>
  	</div>

	<div class="actions">
		<%= f.submit t(:sign_up), :class => "btn small primary" %>
	</div>

  </fieldset>
<% end %>
<%= render :partial => "devise/shared/links" %>
