<% first_team.formation.players_ordered_by_positions.each do |position| %>
	<% if first_team.has_replaced?(position.player) %>
		<tr>
			<td class="position">
				<span class="player-status substitution off"></span>
			</td>
		    <td>
				<div class="popover right">
					<%= image_tag("/assets/bahia_squad/#{position.player.avatar}", :size => "75x105") %>
					<span class="number"><%= position.player.number %></span>
					<%= position.player.name %>
				</div>
				<%= position.player.name %>
			</td>
			<td style="width: 24px; float: left;">
        <div class="fb-like" data-href="<%= "/positions/rating/#{position.id}" %>" data-send="false" data-width="24" data-height="13" data-show-faces="false" data-font="lucida grande"></div>
			</td>
		</tr>
		<tr>
			<td class="position">
				<span class="player-status substitution on"></span>
			</td>
		    <td>
				<div class="popover right">
					<%= image_tag("/assets/bahia_squad/#{first_team.substitution(position.player).on.avatar}", :size => "75x105") %>
					<span class="number"><%= first_team.substitution(position.player).on.number %></span>
					<%= first_team.substitution(position.player).on.name %>
				</div>
				<%= first_team.substitution(position.player).on.name %>
			</td>
			<td style="width: 24px; float: left;">
        <div class="fb-like" data-href="<%= "/substitutions/rating/#{first_team.substitution(position.player).id}" %>" data-send="false" data-width="24" data-height="13" data-show-faces="false" data-font="lucida grande"></div>
			</td>
		</tr>
	<% else %>
		<tr>
			<td class="position"><%= position.acronym %></td>
		    <td>
				<div class="popover right">
					<%= image_tag("/assets/bahia_squad/#{position.player.avatar}", :size => "75x105") %>
					<span class="number"><%= position.player.number %></span>
					<%= position.player.name %>
				</div>
				<%= position.player.name %>
			</td>
			<td>
				<fb:like show_faces="no" layout="button_count" href=<%= "#{request.host}/positions/rating/#{position.id}" %>></fb:like>
			</td>
		</tr>
	<% end %>
<% end %>
<%= content_for :javascript do %>
	;$(function(){
		$('#squad_of_the_round tr').each(function() {
			$(this).mouseover(function() {
				$(this).find(".popover").css('display', 'block');
			});
			$(this).mouseout(function() {
				$(this).find(".popover").css('display', 'none');
			});
		});
	});

	FB.Event.subscribe('edge.create', function(response) {
		var uri = response.replace($('#host').val(), "");
		var validTarget = response.indexOf("positions/rating") > 0 || response.indexOf("substitutions/rating") > 0;
		if (validTarget) {
			$.ajax({
		  			url:   uri,
					type:  "POST"
			});
		}
	});

	FB.Event.subscribe('edge.remove', function(response) {
		var uri = response.replace($('#host').val(), "");
		var validTarget = response.indexOf("positions/rating") > 0 || response.indexOf("substitutions/rating") > 0;
		if (validTarget) {
			$.ajax({
		  			url:   uri,
					type:  "DELETE"
			});
		}
	});
<% end %>
