<% content_for :title, "Scores" %>
<div class="title">
	<h1><%= t(:scores) %></h1>
</div>
<table class="zebra-striped">
  <tr>
    <th><%= t(:nickname) %></th>
    <th>Score</th>
  </tr>
<% @users.each_with_index.map do |u, index| %>
	<% index += 1 %>
	<tr>
		<td><%= ++index %></td>
    	<td><%= u.nickname %></td>
		<td><%= u.score %></td>
  	</tr>
<% end %>
</table>
