<% if user_signed_in? %>
	<div class="user_info">
		<ul>
			<li>
				<%= image_tag(current_user.image, :size => "45x45", :class => "user-avatar") %>
				<a id="user_info_menu" class="btn primary dropdown-toggle" data-toggle="dropdown" href="#">
					<%= "#{current_user.nickname} # #{current_user.score} pontos" %>
					<%= image_tag("icons/arrow-down.png", :size => "16x16", :class => "arrow") %>
				</a>
				<ul id="user_config_menu" class="dropdown-menu pills">
					<li><%= link_to 'Home', :root %></li>
					<li><%= link_to 'Meu Perfil', '/profile' %></li>
					<li><%= link_to "Monte o seu esquema tático!", :new %></li>
					<li><%= link_to 'Calendário dos Jogos', :calendars %></li>
					<li><%= link_to t(:scores), '/scores' %></li>
					<li><%= link_to t(:my_formations), :current_user_formations %></li>
					<li><%= link_to t(:account_config), "/configuration" %></li>
					<% if current_user.admin? %>
						<li><%= link_to 'Táticas Oficiais', '/first_teams' %></li>
						<li><%= link_to 'Substituições', :substitutions %></li>
						<li><%= link_to 'Táticas enviadas', :list %></li>
						<li><%= link_to 'Jogadores', :players %></li>
						<li><%= link_to 'Mapeamento de posições', :position_mappers %></li>
						<li><%= link_to 'Times', :teams %></li>
						<li><%= link_to 'Lista de E-mails', :newsletters %></li>
					<% end %>
					<li class="divider"></li>
					<li><%= link_to t(:exit), "/logout" %></li>
				</ul>
			</li>
		</ul>
	</div>
<% end %>
<%= content_for :javascript do %>

	$('.user-avatar').click(function(){
		window.location.href = "/profile";
	});
		
	$('#user_info_menu').click(function() {
		if ($('#user_config_menu').hasClass('visible')) {
			hideUserMenu();
		} else {
			showUserMenu();
		}		  	
	});
	
	function hideUserMenu() {
		$('#user_info_menu').removeClass('open');				
		$('#user_config_menu').removeClass('visible');
	}
	
	function showUserMenu() {
		$('#user_info_menu').addClass('open');
		$('#user_config_menu').addClass('visible');
	}
<% end %>