<% if !user_signed_in? %>
	<%= form_for User.new, :url => login_path, :method => :post do |f| %>	
		<fieldset class="login">
			<ol>
				<li>
					<%= f.email_field :email, :placeholder => t(:email), :required => true %>
				</li>
				<li>
					<%= f.password_field :password, :placeholder => t(:password), :required => true, :class => 'small' %>
				</li>	
				<li class="login-btn">
					<%= f.submit "ENTRAR", :class => "btn primary" %>
				</li>																							
				<li class="register">
					<%= link_to "Cadastro sem Facebook", new_registration_path(:user), :class => 'btn' %>
				</li>
				<li class="facebook">
					<%= render :partial => "users/facebook_authentication" %>
				</li>
			</ol>	
		</fieldset>
	<% end %>
<% end %>