<div class="hero-unit">
	<div class="welcome">
		<h1>Bem-vindo ao Seleção Tricolor!</h1>
		<span class="subtitle">Um site interativo, não oficial, exclusivo para a torcida do BAHIA.</span>
		<p>
		Através do <a href="http://selecaotricolor.com.br">selecaotricolor.com.br</a> você poderá responder: <h2>Qual time você gostaria que fosse a campo?</h2>
		</p>
		<h3>
		Sinta-se à vontade, escale o seu time, monte o seu esquema tático e comece a torcer!
		</h3>		
	</div>
	<a name="fb_share" type="icon_link" share_url="<%= current_uri %>"><%= t(:share) %></a> 
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
	</script>
	<div class="sign_in">
		<% if user_signed_in? %>
			<%= link_to "Monte o seu esquema tático!", :new, :class => "btn danger large" %>
		<% else %>
			<%= render :partial => "users/facebook_authentication" %>
			<%= link_to "Login direto!", "login", :class => "btn success" %>
			<%= link_to "Ainda não sou cadastrado!", "registration", :class => "btn danger" %>
		<% end %>
	</div>
</div>