<% content_for :title, "Escale o seu Time!" %>
<input id="host" type="hidden" value=<%= "#{request.host}" %> />
<div class="welcome">	
	<div class="facebook-like">
		<%= render :partial => 'rating/facebook_like', :locals => {:uri => 'http://facebook.com/selecaotricolor'} %>
	</div>				
	<% if user_signed_in? %>
		<div class='app-menu'>
			<div class="pills actions">
				<%= link_to t(:my_formations), :current_user_formations, :class => 'icon formations' %>
			</div>
		</div>
	<% end %>
	<h1 class="app-description">Um site interativo, não oficial, exclusivo para a torcida do BAHIA.</h1>
	<% if @next_match %>
		<h1 class="subtitle">escale o seu time para a próxima partida</h1>
		<%= render :partial => "calendars/match_info", :locals => {:match => @next_match, :subtitle => false} %>
		<div class="pills actions large">
			<%= link_to "ESCALE O SEU TIME!", new_path, :class => "icon new-formation" %>
		</div>
		<div class='app-menu'>
			<div class='pills match-calendars'>
				<%= link_to "Calendário dos Jogos", :calendars, :class => 'icon match-calendar' %>
				<%= link_to "Táticas enviadas até agora", {:controller => 'calendars', :action => 'formations_matches', :id => @next_match}, :class => 'icon formations' %>
				<%= link_to "Ranking dos usuários!", '/scores', :class => 'icon ranking' %>
			</div>
			<div class="pills actions">
				<%= link_to "Entre em contato conosco!", '/contact_us/', :class => 'icon contact' %>
				<%= link_to "Entenda quem somos!", '/scores/rules', :class => 'icon question' %>
			</div>
		</div>
	<% end %>
	<% if @formation %>
		<h1 class="subtitle">partida Anterior</h1>
		<div class="pills actions">
			<%= link_to "Avalie os jogadores!!", '/avalie-seu-time', :class => 'icon rating' %>
		</div>
		<div class="last-squad-of-the-round">
			<div class="index rating call-up">
				<table id="squad_of_the_round">
					<%= render :partial => "rating/squad_of_the_round", :locals => { :first_team => @first_team } %>
				</table>
			</div>
			<div id="soccerField" class="soccer-field-grass show">
				<div id="emptySlot"></div>
			</div>
			<div id="creator-info" class="show">
				<ul>
					<li><%= "#{t(:sent_by)} #{@formation.owner.nickname}" %></li>
					<li><%= "#{t(:created_at)} #{@formation.created_at.to_s(:day)}" %></li>
					<li class="jogo">
						<div class="time home">
							<%= image_tag("escudos/#{@formation.match.home.label}.png", :size => "45x45") %>

				        </div>
				        <div class="x">x</div>
				        <div class="time away">				       
							<%= image_tag("escudos/#{@formation.match.away.label}.png", :size => "45x45") %>
				        </div>
					</li>
				</ul>
				<div class="recent-winners">
					<div class="link">
						Para ver as táticas deste jogo, <%= link_to "clique aqui!", :controller => 'calendars', :action => 'formations_matches', :id => @formation.match %>
					</div>
					<% if @recent_winners.empty? %>
						<ul>						
							<li>Nenhum dos usuários acertaram a escalação desta partida! =/</li>
						</ul>
					<% else %>
						<div class="champions-of-round">
							<span class="champions-of-round-icon"></span>
							Técnicos da Rodada
						</div>						
						<div class="recent-winners champions-of-round">
							<table>
							<% @recent_winners.each do |u| %>
							  	<tr>
								    <td>
										<%= image_tag(u.image, :size => "25x25", :class => 'user-avatar') %>
										:: <span class="nickname"><b><%= u.nickname %></b></span>
									</td>
								</tr>
							<% end %>
							</table>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>
<%= content_for :javascript do %>
	$( load_soccer_field );
	$( load_formation_of_last_round );
<% end %>