<% content_for :title, "Escale o seu Time!" %>
<div class="welcome">
	<h2><b>Bem-vindo ao</b></h2>
	<div class="title">
		<h1>selecaotricolor.com.br</h1>
		<%= render :partial => 'formations/facebook_like' %>
	</div>
	<span class="subtitle">Um site interativo, não oficial, exclusivo para a torcida do BAHIA.</span>
	<br/>
	<p>
	Através do <a href="http://selecaotricolor.com.br">selecaotricolor.com.br</a> escolha qual o time ideal para cada partida!
	</p>
</div>
	<% if !user_signed_in? %>
		<div class="signed-in">
			<%= render :partial => "users/facebook_authentication" %>
			<div class="login-links">
				<%= link_to "Login Alternativo", "login", :class => "btn primary small" %>
				<%= link_to "Ainda não sou cadastrado(a)!", "registration", :class => "btn danger small" %>
			</div>
		</div>
	<% end %>
	<% if @formation %>
		<div class="formation-header">
			<h2><%= "#{t(:tactical)}: #{@formation.tactical}" %></h2>			
		</div>
		<div class="last-squad-of-the-round">
			<%= render :partial => "formations/players_holders" %>			
			<div id="soccerField" class="soccer-field-grass show">
				<div id="emptySlot"></div>
			</div>
			<div id="creator-info" class="show">
				<ul>
					<li><%= "#{t(:sended_to)} #{@formation.owner.nickname}" %></li>
					<li><%= "#{t(:created_at)} #{@formation.created_at.to_s(:day)}" %></li>
					<li class="jogo">
						<div class="time">
							<%= image_tag("escudos/#{@formation.match.home.label}.png", :size => "45x45") %>
							<span class="team-home-name"><%= "#{@formation.match.home.name}" %></span>
				        </div>
				        <div class="x">x</div>
				        <div class="time">
				        	<%= image_tag("escudos/#{@formation.match.away.label}.png", :size => "45x45") %>
							<span class="team-away-name"><%= "#{@formation.match.away.name}" %></span>
				        </div>
					</li>
				</ul>
				<div class="recent-winners">
					<div class="link">
						<%= link_to "Táticas Enviadas para este jogo", :controller => 'calendars', :action => 'formations_matches', :id => @formation.match %>	
					</div>
					<% if @recent_winners.empty? %>
						<ul>						
							<li><b>Nenhum dos usuários acertaram a escalação desta partida! =/</b></li>
						</ul>
					<% else %>
						<div class="champions-of-round">
							<span class="champions-of-round-icon"></span>
							Técnicos da Rodada
						</div>						
						<div class="recent-winners champions-of-round">
							<table>
							<% @recent_winners.each do |u| %>
							  	<tr>							
								    <td>
										<%= image_tag(u.image, :size => "25x25", :class => 'user-avatar') %>
										:: <span class="nickname"><b><%= u.nickname %></b></span>
									</td>
								</tr>
							<% end %>
							</table>
						</div>
					<% end %>         		
				</div>
			</div>
		</div>
	<% end %>	

<div class="welcome footer">
	<div class="rules">
		<ul>
			<li>A cada tática que você criar, ganha <b>100 pontos</b><span class="score-check"><%= image_tag('icons/check.png', :size => "24x24") %></span></li>
			<li>A cada jogador que você acertar: <b>10 pontos</b><span class="score-check"><%= image_tag('icons/check.png', :size => "24x24") %></span></li>
			<li>Se você acertar a escalação dos jogadores que começarão a partida: <b>40 pontos</b><span class="score-check"><%= image_tag('icons/check.png', :size => "24x24") %></span></li>
		</ul>		
	</div>
	<i>Para ver o <b>ranking</b> completo de pontuações, <a href="/scores">clique aqui!</a></i>
</div>

<div class="foobar shareActions">
	<div class="share right">
		<%= render :partial => "formations/share" %>
	</div>
</div>
	
<%= content_for :javascript do %>
	$( load_soccer_field );
	$( load_formation_of_last_round );	
<% end %>