<% content_for :title, "Escale o seu Time!" %>
<div class="welcome">	
	<div class="facebook-like">
		<%= render :partial => 'formations/facebook_like', :locals => {:uri => current_uri} %>
	</div>	
	<section id="slideshow">
	 <div id="slideshow-wrapper">
		<%= image_tag('tutorial/monte-o-seu-time.png', :size => "472x250", :alt => 'Avalie o seu elenco!') %>
		<%= image_tag('tutorial/posicionamento-goleiro.png', :size => "472x250", :alt => 'Prepare a sua defesa!') %>
		<%= image_tag('tutorial/posicionamento.png', :size => "472x250", :alt => 'Monte o seu esquema tático!') %>
		<%= image_tag('tutorial/substituicao.png', :size => "472x250", :alt => 'Substitua os Jogadores que quiser!') %>
		<%= image_tag('tutorial/pituacu.jpg', :size => "472x250", :alt => '#bbmp !!') %>
	  <div id="caption"></div>
	 </div>
	</section>
	<div class="share">
		<%= render :partial => "formations/share" %>
	</div>
	<h1 class="app-description">Um site interativo, não oficial, exclusivo para a torcida do BAHIA.</h1>
	<% if @next_match %>
		<h1 class="subtitle">ESCALE O SEU TIME!</h1>
		<div class='pills match-calendars'>
			<%= link_to "Calendário dos Jogos", :calendars, :class => 'button match-calendar' %>
			<%= link_to "Táticas enviadas até agora", {:controller => 'calendars', :action => 'formations_matches', :id => @next_match}, :class => 'button formations' %>
		</div>
		<%= render :partial => "calendars/match_info", :locals => {:match => @next_match, :subtitle => false} %>			
		<div class="pills actions large">
			<%= link_to "ESCALE O SEU TIME!", new_path, :class => "button new-formation" %>
		</div>
	<% end %>
	<div class="rules">
		<ul>
			<li>A cada tática que você criar, ganha <b>100 pontos</b><span class="score-check"><%= image_tag('icons/check.png', :size => "24x24") %></span></li>
			<li>A cada jogador que você acertar: <b>10 pontos</b><span class="score-check"><%= image_tag('icons/check.png', :size => "24x24") %></span></li>
			<li>Se você acertar a escalação dos jogadores que começarão a partida: <b>40 pontos</b><span class="score-check"><%= image_tag('icons/check.png', :size => "24x24") %></span></li>
		</ul>		
	</div>
	<i>Para ver o <b>ranking</b> completo de pontuações, <a href="/scores">clique aqui!</a></i>		
</div>
	<% if @formation %>
		<h1 class="subtitle">Partida Anterior</h1>
		<div class="formation-header">
			<h2 class="tactical"><%= "#{@formation.tactical}" %></h2>			
		</div>
		<div class="last-squad-of-the-round">
			<%= render :partial => "formations/players_holders", :locals => { :players_positions => @formation.players_ordered_by_positions } %>			
			<div id="soccerField" class="soccer-field-grass show">
				<div id="emptySlot"></div>
			</div>
			<div id="creator-info" class="show">
				<ul>
					<li><%= "#{t(:sended_to)} #{@formation.owner.nickname}" %></li>
					<li><%= "#{t(:created_at)} #{@formation.created_at.to_s(:day)}" %></li>
					<li class="jogo">
						<div class="time home">
							<%= image_tag("escudos/#{@formation.match.home.label}.png", :size => "45x45") %>
							
				        </div>
				        <div class="x">x</div>
				        <div class="time away">				       
							<%= image_tag("escudos/#{@formation.match.away.label}.png", :size => "45x45") %>
				        </div>
					</li>
				</ul>
				<div class="recent-winners">
					<div class="link">
						Para ver as táticas deste jogo, <%= link_to "clique aqui!", :controller => 'calendars', :action => 'formations_matches', :id => @formation.match %>
					</div>
					<% if @recent_winners.empty? %>
						<ul>						
							<li>Nenhum dos usuários acertaram a escalação desta partida! =/</li>
						</ul>
					<% else %>
						<div class="champions-of-round">
							<span class="champions-of-round-icon"></span>
							Técnicos da Rodada
						</div>						
						<div class="recent-winners champions-of-round">
							<table>
							<% @recent_winners.each do |u| %>
							  	<tr>							
								    <td>
										<%= image_tag(u.image, :size => "25x25", :class => 'user-avatar') %>
										:: <span class="nickname"><b><%= u.nickname %></b></span>
									</td>
								</tr>
							<% end %>
							</table>
						</div>
					<% end %>         		
				</div>
			</div>
		</div>
	<% end %>	

<div class="welcome footer">	
</div>
<%= content_for :javascript do %>
	$( load_soccer_field );
	$( load_formation_of_last_round );
<% end %>