<% content_for :title, "Escale o seu Time!" %>
<input id="host" type="hidden" value=<%= "#{request.host}" %> />
<div class="welcome">
	<section class="facebook-top-likes">
    <div class="fb-like" data-href="http://facebook.com/selecaotricolor" data-send="false" data-width="450" data-show-faces="true" data-font="lucida grande"></div>
	</section>
	<%= render :partial => "formations/new_formation", :locals => { :match => @next_match } %>
	<h1 class="app-description">Um site interativo, não oficial, exclusivo para a torcida do BAHIA.</h1>
	<%= render :partial => "feeds/news" %>
	<div class="ads center">
		<%= render :partial => "advertising/ads_horizontal_center" %>
	</div>
	<h1 class="subtitle">MENU do Seleção Tricolor</h1>
	<div class='app-menu'>
		<div class='pills match-calendars'>
			<%= link_to "Calendário dos Jogos", :calendars, :class => 'icon match-calendar' %>
			<% if @next_match %>
				<%= link_to "Táticas enviadas até agora", {:controller => 'calendars', :action => 'formations_matches', :id => @next_match}, :class => 'icon formations' %>
			<% end %>
			<%= link_to "Ranking dos usuários!", '/scores', :class => 'icon ranking' %>
		</div>
		<div class="pills actions">
			<%= link_to "Entre em contato conosco!", '/contact_us/', :class => 'icon contact' %>
			<%= link_to "Entenda quem somos!", '/scores/rules', :class => 'icon question' %>
		</div>
	</div>
</div>
<%= content_for :javascript do %>
	$( fetchNews );
<% end %>
