<div class="hero-unit show">
	<%= image_tag("squad800x278.png", :size => "800x278", :alt => "Seleção Tricolor") %>
	<div class="welcome">
		<p><b>Bem-vindo ao</b></p>
		<div class="title">
			<h1>
			selecaotricolor.com.br
			</h1>
		</div>
		<span class="subtitle">Um site interativo, não oficial, exclusivo para a torcida do BAHIA.</span>
		<br/>
		<p>
		Através do <a href="http://selecaotricolor.com.br">selecaotricolor.com.br</a> você poderá responder:
		</p>
		<p><b>Qual time você gostaria que fosse a campo?</b></p>
		<center>			
			<%= link_to t(:listing_formations_to_next_match), formations_matches_path(Calendar.next_match), :class => "btn success" %>
		</center>
		<br/>
		<div class="title">			
			<ul>
				<li>Se você criar uma tática você ganha <b>100 pontos</b></li>
				<li>Se você acertar a escalação dos jogadres que começarão a partida: <b>300 pontos</b></li>
			</ul>
			<h3>Top-Scorers do Bahia</h3>
		</div>
		<table class="zebra-striped">
		  <tr>
		    <th><%= t(:nickname) %></th>
		    <th>Score</th>
		  </tr>
		<% @users.each do |u| %>
		  <tr>
		    <td><%= u.nickname %></td>
			<td><%= u.score %></td>
		  </tr>
		<% end %>
		</table>
		<br/>	
		<br/>
		<% if user_signed_in? %>
			<center><%= link_to "Monte o seu esquema tático!", :new, :class => "btn danger large" %></center>
			<br/>
			<i>Lembre-se: Você só poderá escalar seu time até 2 horas antes do jogo!</i>
		<% end %>				
	</div>
	<div class="user_actions">		
		<% if !user_signed_in? %>
			<p><strong>Atenção!</strong> Se você tem conta no <strong>Facebook</strong>, não precisa se cadastrar! Basta clicar no botão abaixo!</p>
			<center>
			<%= render :partial => "users/facebook_authentication" %>
			</center>
			<br/><br/>
			<p>Do contrário, faça o <strong>Login direto</strong> ou se cadastre rapidamente:</p>
			<%= link_to "Login direto!", "login", :class => "btn primary small" %>
			<%= link_to "Ainda não sou cadastrado!", "registration", :class => "btn danger small" %>
		<% end %>
	</div>
	<%= render :partial => "formations/share" %>
</div>