<% content_for :title, "Escale o seu Time!" %>

	<div class="welcome">
		<p><b>Bem-vindo ao</b></p>
		<div class="title">
			<h1>selecaotricolor.com.br</h1>
			<%= render :partial => 'formations/facebook_like' %>
		</div>
		<span class="subtitle">Um site interativo, não oficial, exclusivo para a torcida do BAHIA.</span>
		<br/>
		<p>
		Através do <a href="http://selecaotricolor.com.br">selecaotricolor.com.br</a> <b>você</b> poderá eleger o time que vai a campo a cada partida!
		</p>		
		<center>			
			<%= link_to t(:listing_formations_to_next_match), formations_matches_path(Calendar.next_match), :class => "btn success" %>
		</center>
		<br/>
		<div class="title">
			<ul>
				<li>A cada tática que você criar, ganha <b>100 pontos</b></li>
				<li>A cada jogador que você acertar: <b>10 pontos</b></li>
				<li>Se você acertar a escalação dos jogadores que começarão a partida: <b>40 pontos</b></li>
				<li><i>Lembre-se: Você só poderá escalar seu time até 2 horas antes início do jogo!</i></li>
			</ul>		
		</div>
		<% if user_signed_in? %>
			<center><%= link_to "Monte o seu esquema tático!", :new, :class => "btn danger large" %></center>
			<br/>			
		<% end %>
		<% if !user_signed_in? %>
			<p><strong>Atenção!</strong> Se você tem conta no <strong>Facebook</strong>, não precisa se cadastrar! Basta clicar no botão abaixo!</p>
			<center>
			<%= render :partial => "users/facebook_authentication" %>
			</center>			
			<p>Do contrário, faça o <strong>Login</strong> ou se cadastre rapidamente:</p>
			<%= link_to "Login", "login", :class => "btn primary small" %>
			<%= link_to "Ainda não sou cadastrado!", "registration", :class => "btn danger small" %>
		<% end %>
		<br/><br/><br/>
		
		<div class="top-scorers">
		<div class="title">
			<h3>Top-Scorers do Bahia</h3>
		</div>
		<table class="zebra-striped">
		  <tr>
		    <th>#</th>
			<th></th>
			<th><%= t(:nickname) %></th>
		    <th>Score</th>
		  </tr>
		<% @users.each_with_index.map do |u, index| %>
			<% index += 1 %>
			<tr>
				<td><%= ++index %></td>
				<td><%= image_tag(u.image, :size => "25x25") %></td>
		    	<td><%= u.nickname %></td>
				<td><%= u.score %></td>
		  	</tr>
		<% end %>
		</table>				
		<i>Para ver o <b>ranking</b> completo de pontuações, <a href="/scores">clique aqui!</a></i>
		</div>
		<br/><br/>
		<% if @formation %>
			<div class="last-squad-of-the-round">
				<div class="title">
					<h3>Partida Anterior</h3>
					<span><%= link_to "Clique aqui", :controller => 'calendars', :action => 'formations_matches', :id => @formation.match %> para conferir as táticas enviadas para este jogo</span>
				</div>
				<div class="formation_header">
					<b><%= "#{t(:tactical)}: #{@formation.tactical}" %></b>
				</div>
				<div id="call-up" class="show">          		
					<%= render :partial => "formations/players_holders" %>
				</div>
				<div id="creator-info" class="show">
					<ul>
						<li><%= "#{t(:sended_to)} #{@formation.owner.nickname}" %></li>
						<li><%= "#{t(:created_at)} #{@formation.created_at.to_s(:day)}" %></li>
						<li class="jogo">
							<div class="time">
								<%= image_tag("escudos/#{@formation.match.home.label}.png", :size => "45x45") %>
								<span class="team-home-name"><%= "#{@formation.match.home.name}" %></span>
					        </div>
					        <div class="x">x</div>
					        <div class="time">
					        	<%= image_tag("escudos/#{@formation.match.away.label}.png", :size => "45x45") %>
								<span class="team-away-name"><%= "#{@formation.match.away.name}" %></span>
					        </div>
						</li>
					</ul>
					<div class="welcome recent-winners">				
						<div class="title recent-winners">
							<b>Usuários que acertaram a escalação do jogo passado</b>					
						</div>
						<ul>
							<% @recent_winners.each do |u| %>
								<li>
									<span><%= image_tag(u.image, :size => "25x25") %></span> :: <span><b><%= u.nickname %></b></span>
				</li>
							<% end %>
							<% if @recent_winners.empty? %>
								<li><b>Nenhum dos usuários acertaram a tática desta partida! =/</b></li>
								<li><%= link_to "Clique aqui", :controller => 'calendars', :action => 'formations_matches', :id => @formation.match %> para conferir as táticas enviadas para este jogo</li>
							<% end %>
						</ul>	         		
					</div>
				</div>
			</div>
		<% end %>
		
	</div>
	

<div class="foobar shareActions">
	<div class="share right">
		<%= render :partial => "formations/share" %>
	</div>
</div>
	
<%= content_for :javascript do %>
	$( load_soccer_field );
	$( load_formation_of_last_round );	
<% end %>