<%= form_for(@calendar) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% @calendar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="configurations">
	<div class="clearfix">
  		<div>
			<%= f.label :day, t(:day) %>
			<div class="input">
  				<%= f.datetime_select :day, :minute_step => 30 %>
			</div>
		</div>
  	</div>

	<div class="clearfix">
  		<div>
			<%= f.hidden_field 'home_id' %>
			<%= f.label :home, t(:home) %>
			<div class="input">
  				<%= f.collection_select(:home_id, @teams, :id, :name, {:prompt => true}) %>
			</div>
		</div>
  	</div>

	<div class="clearfix">
  		<div>
			<%= f.hidden_field 'away_id' %>
			<%= f.label :away, t(:away) %>
			<div class="input">
  				<%= f.collection_select(:away_id, @teams, :id, :name, {:prompt => true}) %>
			</div>
		</div>
  	</div>

	<div class="clearfix">
		<%= f.submit t(:save), :class => "btn" %>
	</div>

  </fieldset>
<% end %>
