<center>
	<div class="next_match_info">
		<ul>
			<li>
				Próxima partida: <strong><%= next_match.day.to_s(:day) %></strong>
			</li>
		</ul>
	</div>
	<div class="jogo">
	    <div class="time">
			<%= image_tag("escudos/#{next_match.home.label}.png", :size => "45x45", :alt => "#{next_match.home.name}") %>
			<span class="team-home-name"><%= "#{next_match.home.name}" %></span>
        </div>
        <div class="x">x</div>
        <div class="time">
        	<%= image_tag("escudos/#{next_match.away.label}.png", :size => "45x45", :alt => "#{next_match.away.name}") %>
			<span class="team-away-name"><%= "#{next_match.away.name}" %></span>
        </div>
    </div>
</center>