<% content_for :title, "#{t(:listing_formations)} :: #{@match.home.name} x #{@match.away.name}" %>
<%= render :partial => "calendars/match_info", :locals => { :match => @match } %>

<% if @match == Calendar.next_match %>
	<div class="pills actions large">
		<%= link_to "ESCALE O SEU TIME!", new_path, :class => "button new-formation" %>
	</div>	
<% end %>
<section id="formation-list-section">	
	<% cache do %>
	<div class="record-list">
		<ul>
			<% @match.formations.each do |formation| %>
            	<li onclick="showFormation('/formations/<%= formation.id %>')">					
					<%= image_tag(formation.owner.image, :size => "25x25", :class => "user-avatar") %>
					<p class="creator">						
						<% if formation.owner.admin? %>
							<i><%= formation.owner.nickname %></i>
						<% else %>
							<%= formation.owner.nickname %>
						<% end %>
					</p>
					<p class="tactical"><%= formation.tactical %></p>
					<p class="match-day"><%= formation.created_at.to_s(:day) %></p>
					<%= render :partial => 'rating/facebook_like_count', :locals => {:uri => "#{request.host}/formations/#{formation.id}"} %>					
				</li>
			<% end %>
		</ul>
	</div>
	<% end %>
</section>
<div id="soccerField" class="soccer-field-grass list">
	<div id="emptySlot"></div>
</div>

<%= content_for :javascript do %>
	$('.record-list ul li').click(function() {
		$('.record-list ul li').removeClass('selected');
		$(this).addClass('selected'); 	
	});
<% end %>