<% content_for :title, "#{t(:listing_formations)} :: #{@match.home.name} x #{@match.away.name}" %>
<h1 class="subtitle"><%= "#{@match.home.name} x #{@match.away.name} :: #{@match.day.to_s(:day)}" %></h1>
	<div class="jogo center">
	    <div class="time">
			<%= image_tag("escudos/#{@match.home.label}.png", :size => "45x45", :alt => "#{@match.home.name}") %>
			<span class="team-home-name"><%= "#{@match.home.name}" %></span>
        </div>
        <div class="x">x</div>
        <div class="time">
        	<%= image_tag("escudos/#{@match.away.label}.png", :size => "45x45", :alt => "#{@match.away.name}") %>
			<span class="team-away-name"><%= "#{@match.away.name}" %></span>
        </div>
    </div>

<% if @match == Calendar.next_match %>
	<div class="new-formation">
		<div class="actions">
			<%= link_to 'Escale o seu time!', new_path, :class => "btn large primary" %>
		</div>
	</div>	
<% end %>
<section id="formation-list-section">
	<% if @match.oldest? %>
		<h1 class="subtitle"><%= "Esquema tático mais votado: #{@match.tactical_most_voted}" %></h1>
	<% end %>
	<div class="formation-list">
	        <ul>
				<% @formations.each do |formation| %>
	            	<li onclick="showFormation('/formations/<%= formation.id %>')">					
						<%= image_tag(formation.owner.image, :size => "25x25") %>
						<p class="creator">
							<strong>
								<% if formation.owner.admin? %>
									<i><%= formation.owner.nickname %></i>
								<% else %>
									<%= formation.owner.nickname %>
								<% end %>
							</strong>
						</p>
						<p class="tactical"><%= formation.tactical %></p>
						<p class="match-day"><%= formation.created_at.to_s(:day) %></p>
						<p><%= render :partial => 'formations/facebook_like', :locals => {:uri => "#{request.host}/formations/#{formation.id}"} %></p>
					</li>
				<% end %>
			</ul>
	</div>
</section>
<div id="soccerField" class="soccer-field-grass list">
	<div id="emptySlot"></div>
</div>

<div class="comments">
	<%= content_for :footer_resources do %>
		<%= render :partial => 'formations/facebook_comments' %>
	<% end %>
</div>

<%= content_for :javascript do %>
	$('.formation-list ul li').click(function() {
		$('.formation-list ul li').removeClass('selected');
		$(this).addClass('selected'); 	
	});
<% end %>