<% content_for :title, "#{t(:listing_formations)} :: #{@match.home.name} x #{@match.away.name}" %>
<center>
	<center>
		<div class="jogo">
		    <div class="time">
				<%= image_tag("escudos/#{@match.home.label}.png", :size => "45x45", :alt => "#{@match.home.name}") %>
				<span class="team-home-name"><%= "#{@match.home.name}" %></span>
	        </div>
	        <div class="x">x</div>
	        <div class="time">
	        	<%= image_tag("escudos/#{@match.away.label}.png", :size => "45x45", :alt => "#{@match.away.name}") %>
				<span class="team-away-name"><%= "#{@match.away.name}" %></span>
	        </div>
	    </div>
	</center>
	<div class="next_match_info">
		<ul>		
			<li><%= "#{@match.day.to_s(:day)}" %></li>			
			<% if @match.oldest? %>
			<li><%= "Esquema tático mais votado: #{@match.tactical_most_voted}" %></li>
			<% end %>			
		</ul>	
	</div>
</center>
<table class="zebra-striped">
  <tr>
	<th></th>
	<th><%= t(:sended_to) %></th>
	<th><%= t(:tactical) %></th>
	<th><%= t(:created_at) %></th>
    <th></th>
    <th></th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
	<td><%= image_tag(formation.owner.image, :size => "25x25") %></td>
	<td>
	<% if formation.owner.admin? %>
		<i><%= formation.owner.nickname %></i>
	<% else %>
		<%= formation.owner.nickname %>
	<% end %>
	</td>
	<td><%= formation.tactical %></td>
	<td><%= formation.created_at.to_s(:day) %></td>
    <td><%= link_to t(:show), formation, :class => "btn" %></td>
    <td>
		<% if can? :destroy, formation %>
			<%= link_to t(:destroy), formation, :confirm => t(:are_you_sure), :method => :delete, :class => "btn error" %>
		<% end %>
	</td>
  </tr>
<% end %>
<% if @formations.empty? %>
	<tr class="empty-table">
		<th colspan="5"> <%= t(:formations_not_sended) %> </th>
	</tr>
<% end %>
</table>

<br />

<% if @match == Calendar.next_match %>
	<div class="actions">
		<%= link_to t(:new_formation), new_path, :class => "btn small primary" %>
	</div>
<% end %>
