<div class="topbar formation">
	<div class="main_bar">
		<div class="next_match_info">
			<ul>					
				<li><h3><%= "#{@match.home.name} x #{@match.away.name}" %></h3></li>
			</ul>	
		</div>
		<div class="logo"></div>
		<div class="user_actions">
			<ul>	
				<li><%= "Táticas enviadas para o jogo de #{@match.day.to_s(:day)}" %></li>
			</ul>
		</div>
	</div>
</div>
<div>
	<%= render :partial => 'formations/facebook_like' %>
	<a name="fb_share" type="icon_link" share_url="<%= current_uri %>"><%= t(:share) %></a> 
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
	</script>
</div>
<table class="zebra-striped">
  <tr>
	<th><%= t(:sended_to) %></th>
	<th><%= t(:tactical) %></th>
	<th><%= t(:created_at) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
	<td><%= formation.owner.nickname %></td>
	<td><%= formation.try(:tactical) %></td>
	<td><%= formation.created_at.to_s(:day) %></td>
    <td><%= link_to t(:show), formation, :class => "btn" %></td>
    <td>
		<% if can? :destroy, formation %>
			<%= link_to t(:destroy), formation, :confirm => t(:are_you_sure), :method => :delete, :class => "btn error" %>
		<% end %>
	</td>
  </tr>
<% end %>
<% if @formations.empty? %>
	<tr class="empty-table">
		<th colspan="5"> <%= t(:formations_not_sended) %> </th>
	</tr>
<% end %>
</table>

<br />

<% if @match == Calendar.next_match %>
	<div class="actions">
		<%= link_to t(:new_formation), new_path, :class => "btn small primary" %>
	</div>
<% end %>
<%= render :partial => 'formations/facebook_comments' %>
