<% content_for :title, "#{t(:listing_formations)} :: #{@match.home.name} x #{@match.away.name}" %>
<%= render :partial => "calendars/match_info", :locals => { :match => @match } %>

<% if @match == Calendar.next_match %>
	<div class="actions large">
		<%= link_to "", new_path, :class => "button new-formation-btn" %>
	</div>	
<% end %>
<section id="formation-list-section">
	<% if @match.oldest? %>
		<h1 class="subtitle"><%= "Esquema tático mais votado: #{@match.tactical_most_voted}" %></h1>
	<% end %>
	<div class="record-list">
		<ul>
			<% @formations.each do |formation| %>
            	<li onclick="showFormation('/formations/<%= formation.id %>')">					
					<%= image_tag(formation.owner.image, :size => "25x25") %>
					<p class="creator">
						<strong>
							<% if formation.owner.admin? %>
								<i><%= formation.owner.nickname %></i>
							<% else %>
								<%= formation.owner.nickname %>
							<% end %>
						</strong>
					</p>
					<p class="tactical"><%= formation.tactical %></p>
					<p class="match-day"><%= formation.created_at.to_s(:day) %></p>
					<p><%= render :partial => 'formations/facebook_like', :locals => {:uri => "#{request.host}/formations/#{formation.id}"} %></p>
				</li>
			<% end %>
		</ul>
	</div>
</section>
<div id="soccerField" class="soccer-field-grass list">
	<div id="emptySlot"></div>
</div>

<div class="comments">
	<%= content_for :footer_resources do %>
		<%= render :partial => 'formations/facebook_comments' %>
	<% end %>
</div>

<%= content_for :javascript do %>
	$('.record-list ul li').click(function() {
		$('.record-list ul li').removeClass('selected');
		$(this).addClass('selected'); 	
	});
<% end %>