<% content_for :title, t(:listing_calendars) %>
<h1 class="subtitle"><%= t(:listing_calendars) %></h1>

<section id="record-section">
	<div class="record-list">
		<ul>
			<% @calendars.each do |calendar| %>
            	<li>
					<p class="match-day"><%= calendar.day.to_s(:day) %></p>
					<p class="home-team">
						<%= image_tag("escudos/#{calendar.home.label}.png", :size => "45x45", :alt => "#{calendar.home.name}") %>
						<%= calendar.home.name %>
					</p>
					<p class="x">x</p>
					<p class="away-team">
						<%= calendar.away.name %>
						<%= image_tag("escudos/#{calendar.away.label}.png", :size => "45x45", :alt => "#{calendar.away.name}") %>
					</p>
					<% if can? :formations_matches, calendar %>
							<% if calendar.contains_formations? %>
								<%= link_to "", formations_matches_path(calendar), :class => "button formations" %>				
							<% else %>
								<%= button_tag "", :class => "button formations disabled" %>
							<% end %>

					<% end %>
					<% if can? :edit, calendar %>
						<%= link_to "", edit_calendar_path(calendar), :class => "button edit" %>
					<% end %>
					<% if can? :destroy, calendar %>
						<%= link_to "", calendar, :confirm => t(:are_you_sure), :method => :delete, :class => "button destroy" %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</section>

<% if can? :create, Calendar %>
	<div class="actions">
		<%= link_to t(:new_calendar), new_calendar_path, :class => "btn primary" %>
	</div>
<% end %>
