<% content_for :title, "Táticas Oficiais" %>
<h1 class="subtitle">Táticas Oficiais</h1>
<div class="actions large">
	<%= link_to "", :new_first_team, :class => "button new-formation-btn" %>
</div>
<% if @first_teams.empty? %>
<table>
	<tr class="empty-table">
		<th colspan="6"> <%= t(:formations_not_sended) %> </th>
	</tr>
</table>
<% else %>
	<section id="record-section">
		<div class="record-list formations">
			<ul>
				<% @first_teams.each do |first_team| %>
					<li>
						<fieldset>
							<legend>
								<span>
									<%= "#{t(:created_at)} #{first_team.formation.created_at.to_s(:day)}" %>
								</span>
							</legend>
							<%= image_tag(first_team.formation.owner.image, :size => "25x25", :class => "user-avatar") %>
							<p class="creator">
								<strong>
									<i><%= first_team.formation.owner.nickname %></i>
								</strong>
							</p>
							<p class="home-team">
								<%= image_tag("escudos/#{first_team.formation.match.home.label}.png", :size => "45x45", :alt => "#{first_team.formation.match.home.name}") %>
								<%= first_team.formation.match.home.name %>
							</p>
							<p class="x">x</p>
							<p class="away-team">
								<%= first_team.formation.match.away.name %>
								<%= image_tag("escudos/#{first_team.formation.match.away.label}.png", :size => "45x45", :alt => "#{first_team.formation.match.away.name}") %>
							</p>												
							<p class="tactical"><%= first_team.formation.tactical %></p>					
							<%= link_to "", first_team, :class => "button formations" %>
							<% if can? :destroy, first_team %>
								<%= link_to "", first_team, :confirm => t(:are_you_sure), :method => :delete, :class => "button destroy" %>
							<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</section>
<% end %>