<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation" class="alert-message error">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset class="configurations">
		<div class="clearfix">
		<%= f.hidden_field 'team_id' %>
			<label for="team_id">Team:</label>
		  	<div class="input">			
				<%= f.collection_select(:team_id, Team.sort(:name), :id, :name, {:prompt => true}) %>
		  	</div>
		</div>
		<div class="clearfix">
		    <%= f.label :name %>
		    <div class="input">
				<%= f.text_field :name %>
			</div>
		</div>
		<div class="clearfix">
		    <%= f.label :number %>
		    <div class="input">
				<%= f.number_field :number %>
			</div>
		</div>
		<div class="clearfix">
		    <label for="position_mapper_id">Posição:</label>
		    <div class="input">
				<%= f.collection_select(:position_mapper_id, PositionMapper.all, :id, :description, {:prompt => true}) %>
			</div>
		</div>
		<div class="clearfix">
		    <%= f.submit :class => "btn" %>
		</div>
	</fieldset>
<% end %>
