<h1>Listing players</h1>
<table id="player_list" class="zebra-striped">
  <tr>
    <th class="header headerSortUp">Name</th>
    <th class="header headerSortUp">Number</th>
    <th>Time</th>
	<th>Apto para jogar</th>
	<th>Posição</th>	
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <%= form_for(player) do |f| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.number %></td>
    <td><%= f.collection_select(:team_id, Team.all, :id, :name, {:prompt => true}) %></td>
	<td><%= f.check_box :enabled %></td>
	<td><%= f.collection_select(:position_mapper_id, PositionMapper.all, :id, :description, {:prompt => true}) %></td>
	<td><%= f.submit :class => "btn success" %></td>
    <td><%= link_to t(:show), player, :class => "btn" %></td>
    <td><%= link_to t(:edit), edit_player_path(player), :class => "btn primary" %></td>
	<td>
		<% if can? :destroy, player %>
			<%= link_to t(:destroy), player, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger" %>
		<% end %>
	</td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>

<%= javascript_include_tag 'jquery.tablesorter.min' %>
<%= render :partial => "players/player_list_sorter" %>
