<% content_for :title, t(:positions) %>
<h1 class="subtitle"><%= t(:players) %></h1>
<%= link_to 'Novo', new_player_path, :class => "btn" %>
<section id="record-section">
	<div class="record-list players">
		<ul>
			<% @players.each do |player| %>
				<li>
					<%= form_for(player) do |f| %>
						<p><%= player.name %></p>
					  	<p><%= player.number %></p>
						<p><%= f.check_box :enabled %></p>
						<p><%= f.collection_select(:position_mapper_id, PositionMapper.all, :id, :description, {:prompt => true}) %></p>
						<p><%= f.submit :class => "btn success" %></p>
					    <% if can? :edit, player %>
							<%= link_to "", edit_player_path(player), :class => "button edit" %>
						<% end %>
						<% if can? :destroy, player %>
							<%= link_to "", player, :confirm => t(:are_you_sure), :method => :delete, :class => "button destroy" %>
						<% end %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</section>