<% if match %>
	<div id="new-formation">
		<div id="match-popover">
			Próxima Partida
			<span class="arrow"></span>
		</div>
		<div id="match-limit-popover">
			Até 2 horas antes da partida!
			<span class="arrow"></span>
		</div>
		<div id="new-formation-popover">
			Escale o seu time!
			<span class="arrow"></span>
		</div>
		<nav>
			<ul>
				<li class="btn">
					<span><%= "#{match.home.name}" %></span>
					<%= image_tag("escudos/#{match.home.label}.png", :size => "45x45") %>
					<span>x</span>
					<%= image_tag("escudos/#{match.away.label}.png", :size => "45x45") %>
					<span><%= "#{match.away.name}" %></span>
				</li>
				<li><%= match.day.to_s(:day) %></li>
			</ul>
		</nav>
	</div>
	<%= content_for :javascript do %>
		$(function() {
			initPopover('#new-formation nav ul li', '#match-limit-popover', '/new');
		});

		function initPopover(component, popover, targetUri) {
			$(component).mouseover(function () {
				$(popover).css('display', 'block');
			});
			$(component).mouseout(function () {
				$(popover).css('display', 'none');
			});	
			$(component).click(function(){
				window.location.href = targetUri;
			});
		}
	<% end %>
<% end %>