<% if current_user_owner_of? @formation %>
<%= form_tag @formation, :method => :put do %>
	<table class="table_holders">
		<tr>
		    <th><%= t(:team) %></th>
			<th><%= t(:position) %></th>
		</tr>
	<% @players_positions.each do |position| %>
	  	<tr>			
		    <td><%= position.player.name %></td>
			<td><%= position.acronym %></td>
		</tr>
	<% end %>
	</table>
<% end %>	
<% else %>
	<table class="table_holders">
		<tr>
		    <th><%= t(:team) %></th>
			<th><%= t(:position) %></th>
		</tr>
	<% @players_positions.each do |position| %>
	  	<tr>
		    <td><%= position.player.name %></td>
			<td><%= position.acronym %></td>
		</tr>
	<% end %>
	</table>
<% end %>