<%= render :partial => "simple_menu", :locals => {:title => "Minhas táticas"} %>
<table class="zebra-striped margin-top">
  <tr>
	<th><%= t(:created_at) %></th>
	<th><%= t(:day) %></th>
	<th><%= t(:home) %></th>
	<th><%= t(:away) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
	<td><%= formation.created_at.to_s(:day) %></td>
	<td><%= formation.match.day.to_s(:day) %></td>
	<td><%= formation.match.home.name %></td>
	<td><%= formation.match.away.name %></td>
    <td><%= link_to t(:show), formation, :class => "btn" %></td>
    <td>
		<% if can? :destroy, formation %>
			<%= link_to t(:destroy), formation, :confirm => t(:are_you_sure), :method => :delete, :class => "btn error" %>
		<% end %>
	</td>
  </tr>
<% end %>
<% if @formations.empty? %>
	<tr class="empty-table">
		<th colspan="6"> <%= t(:formations_not_sended) %> </th>
	</tr>
<% end %>
</table>

<br />

<div class="actions">
	<%= link_to t(:new_formation), new_path, :class => "btn small primary" %>
</div>