<% content_for :title, t(:my_formations) %>
<h1 class="subtitle"><%= t(:my_formations) %></h1>
<% if @formations.empty? %>
<table>
	<tr class="empty-table">
		<th colspan="6"> <%= t(:formations_not_sended) %> </th>
	</tr>
</table>
<% else %>
	<section id="record-section">
		<div class="record-list formations">
			<ul>
				<% @formations.each do |formation| %>
					<li>
						<fieldset>
							<legend>
								<span>
									<%= "#{t(:created_at)} #{formation.created_at.to_s(:day)}" %>
								</span>
							</legend>
							<p class="home-team">
								<%= image_tag("escudos/#{formation.match.home.label}.png", :size => "45x45", :alt => "#{formation.match.home.name}") %>
								<%= formation.match.home.name %>
							</p>
							<p class="x">x</p>
							<p class="away-team">
								<%= formation.match.away.name %>
								<%= image_tag("escudos/#{formation.match.away.label}.png", :size => "45x45", :alt => "#{formation.match.away.name}") %>
							</p>												
							<p class="tactical"><%= formation.tactical %></p>					
							<%= link_to "", formation, :class => "button formations" %>
							<% if can? :destroy, formation %>
								<%= link_to "", formation, :confirm => t(:are_you_sure), :method => :delete, :class => "button destroy" %>
							<% end %>
						</fieldset>
					</li>
				<% end %>
			</ul>
		</div>
	</section>
<% end %>