<div class="title">
	<h1>Minhas táticas</h1>
</div>
<table class="zebra-striped">
  <tr>
	<th><%= t(:created_at) %></th>
	<th><%= t(:tactical) %></th>
	<th><%= t(:day) %></th>
	<th><%= t(:home) %></th>
	<th></th>
	<th><%= t(:away) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
	<td><%= formation.created_at.to_s(:day) %></td>
	<td><%= formation.tactical %></td>
	<td><%= formation.match.day.to_s(:day) %></td>
	<td><%= image_tag("escudos/#{formation.match.home.label}.png", :size => "45x45", :alt => "#{formation.match.home.name}") %></td>
	<td><%= formation.match %></td>
	<td><%= image_tag("escudos/#{formation.match.away.label}.png", :size => "45x45", :alt => "#{formation.match.away.name}") %></td>
	
	
    <td><%= link_to t(:show), formation, :class => "btn" %></td>
    <td>
		<% if can? :destroy, formation %>
			<%= link_to t(:destroy), formation, :confirm => t(:are_you_sure), :method => :delete, :class => "btn error" %>
		<% end %>
	</td>
  </tr>
<% end %>
<% if @formations.empty? %>
	<tr class="empty-table">
		<th colspan="6"> <%= t(:formations_not_sended) %> </th>
	</tr>
<% end %>
</table>

<br />

<div class="actions">
	<%= link_to t(:new_formation), new_path, :class => "btn small primary" %>
</div>