<script type="text/javascript"> 
$( init_soccer_field );
</script> 
<div class="topbar formation">
	<ul>
		<li>
			Próxima partida: <strong><%= next_match.day.to_s(:day) %></strong>
		</li>
		<% if !user_signed_in? %>
			<div class="fb_button">
				<span class="fb_ico"></span>
				<%= link_to "Login através do seu Facebook", user_omniauth_authorize_path(:facebook) %>
			</div>
			<div class="login_info">
				<%= link_to "Login direto!", "login", :class => "btn success" %>
			</div>
			<div class="register_info">
				<%= link_to "Ainda não sou cadastrado!", "registration", :class => "btn error" %>
			</div>
		<% end %>
		<li>
			<div class="next_match_info">
				<h3><%= "#{next_match.home.name} x #{next_match.away.name}" %></h3>
			</div>
		</li>
		<li>
			<% if user_signed_in? %>
				<div class="foobar formationActions">
					<%= link_to "Novo", :index, :class => "btn info" %>
					<section>
						<button onclick="send();" id="send_button" name="button" class="btn danger send">Enviar</button>
					</section>
				</div>
			<% end %>
		</li>
	</ul>	
</div>

<div id="soccerField">
	<div id="player"></div>
	<div id="slot"></div>
</div>
<div id="matrix"></div>