<script type="text/javascript"> 
$( init_soccer_field );
</script> 
<div class="topbar formation">
	<ul>
		<li>
			Próxima partida: <strong><%= next_match.day.to_s(:day) %></strong>
		</li>
		<li>
			<h3><%= "#{next_match.home.name} x #{next_match.away.name}" %></h3>
		</li>
		<li>
			<% if user_signed_in? %>
				<div class="formationActions">
					<%= link_to "Novo", :index, :class => "btn info" %>
					<button onclick="send();" name="button" class="btn success">Enviar</button>
				</div>
			<% else %>
				<div class="logonActions">
					<%= form_for User.new, :url => login_path, :method => :post, :html => { :class => "pull-right" } do |f| %>
					  	<%= f.email_field :email, :placeholder => "E-mail", :class => "input-large" %>
					    <%= f.password_field :password, :placeholder => "Senha", :class => "input-large" %>
						<%= button_tag "Login", :class => "btn success" %>
						<%= link_to "Cadastro Ligeiro!", "registration", :class => "btn error" %>
					<% end %>
				</div>
			<% end %>
		</li>
	</ul>	
</div>


<div id="soccerField">
	<div class="sidebar">
		<div id="player"></div>
	</div>
	<div id="slot"></div>
</div>
<div id="matrix"></div>