<h1>Listing Formations</h1>

<table>
  <tr>
	<th><%= t(:day) %></th>
	<th><%= t(:home) %></th>
	<th><%= t(:away) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
	<td><%= formation.match.day.to_s(:day) %></td>
	<td><%= formation.match.home.name %></td>
	<td><%= formation.match.away.name %></td>
    <td><%= link_to 'Show', formation %></td>
    <td><%= link_to 'Destroy', formation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Formation', index_path %>
