<h1>Listing Formations</h1>

<table>
  <tr>
	<th><%= t(:sended_to) %></th>
	<th><%= t(:created_at) %></th>
	<th><%= t(:day) %></th>
	<th><%= t(:home) %></th>
	<th><%= t(:away) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
	<td><%= formation.owner.email %></td>
	<td><%= formation.created_at.to_s(:day) %></td>
	<td><%= formation.match.day.to_s(:day) %></td>
	<td><%= formation.match.home.name %></td>
	<td><%= formation.match.away.name %></td>
    <td><%= link_to t(:show), formation %></td>
    <td><%= link_to t(:destroy), formation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_formation), index_path %>
