<% content_for :title, t(:new_formation) %>
<%= render :partial => "calendars/match_info", :locals => { :match => Calendar.next_match } %>
<div class="legend">
	<ul>
		<li class="defense">Defesa</li>
		<li class="midfield">Meio Campo</li>
		<li class="forward">Ataque</li>
	</ul>
</div>
<div class="droppable-area">
	<div id="soccerField" class="soccer-field-grass"></div>
	<div id="positionMap" class="positions-map"></div>
	<% if user_signed_in? %>	
	<div id="player">
		<div id="others" >
		</div>
		<h5 class="pills positions"><a href="#"><%= image_tag('icons/call-up.png', :size => "72x72", :alt => "Seleção Tricolor") %><span>Atacantes</span></a></h5>		
		<div id="forwards" >
		</div>
		<h5 class="pills positions"><a href="#"><%= image_tag('icons/call-up.png', :size => "72x72", :alt => "Seleção Tricolor") %><span>Meias</span></a></h5>		
		<div id="midfield" >
		</div>
		<h5 class="pills positions"><a href="#"><%= image_tag('icons/call-up.png', :size => "72x72", :alt => "Seleção Tricolor") %><span>Volantes</span></a></h5>		
		<div id="midfield_defense" >
		</div>
		<h5 class="pills positions"><a href="#"><%= image_tag('icons/call-up.png', :size => "72x72", :alt => "Seleção Tricolor") %><span>Laterais Esquerdos</span></a></h5>		
		<div id="left_back" >
		</div>
		<h5 class="pills positions"><a href="#"><%= image_tag('icons/call-up.png', :size => "72x72", :alt => "Seleção Tricolor") %><span>Zagueiros</span></a></h5>		
		<div id="defender" >
		</div>
		<h5 class="pills positions"><a href="#"><%= image_tag('icons/call-up.png', :size => "72x72", :alt => "Seleção Tricolor") %><span>Laterais Direitos</span></a></h5>		
		<div id="right_back" >
		</div>
		<h5 class="pills positions"><a href="#"><%= image_tag('icons/call-up.png', :size => "72x72", :alt => "Seleção Tricolor") %><span>Goleiros</span></a></h5>		
		<div id="goalkeepers" >
		</div>
	</div>
	<% end %>
	<div id="slot"></div>
</div>
<div id="matrix"></div>
<div class="pills actions">
	<button id="send_button" name="button" class="btn danger send">Enviar</button>
</div>
<%= content_for :footer_resources do %>
<% end %>
<%= content_for :javascript do %>
	$( init_soccer_field );
	
	$('#send_button').click(function() {
		send();
	});
	
	/*
	$(function(){
	    $.contextMenu({
	        selector: '.context-menu-one', 
	        callback: function(key, options) {
	            if (key == 'delete') {
					this.draggable('destroy');
					this.removeClass('correct ui-draggable-disabled ui-state-disabled context-menu-one');
					this.css("top", "");
					this.css("left", "");
					this.removeAttr('aria-disabled');
					this.addClass('ui-draggable');
					this.appendTo('#others');
				}
	        },
	        items: {
	            "delete": {name: "Excluir", icon: "delete"}
	        }
	    });
	});
	*/
<% end %>