<% content_for :title, t(:new_formation) %>
<%= render :partial => "calendars/match_info", :locals => { :match => Calendar.next_match } %>
<section id="slideshow" class="formation-hint">
	<div id="slideshow-wrapper">		
		<%= image_tag('tutorial/posicionamento.png', :size => "472x250", :alt => 'Arraste os jogadores para o campo') %>
		<%= image_tag('tutorial/substituicao.png', :size => "472x250", :alt => 'Para substituir, basta mover um jogador sobre o outro') %>
		<%= image_tag('tutorial/enviar.png', :size => "472x250", :alt => 'Quando achar que estiver pronto, clique em "Enviar" ao final da tela') %>		
		<div id="caption"></div>  		
 	</div>
</section>
<div class="legend">
	<ul>
		<li class="defense">Defesa</li>
		<li class="midfield">Meio Campo</li>
		<li class="forward">Ataque</li>
	</ul>
</div>
<span class="hints">*Arraste os jogadores para o campo</span>
<div class="droppable-area">
	<div id="soccerField" class="soccer-field-grass"></div>
	<div id="positionMap" class="positions-map"></div>	
	<% if user_signed_in? %>	
	<div id="player">
		<div id="tabs">
			<ul>
				<li><a href="#goalkeepers">Goleiros</a></li>				
				<li><a href="#right_back">Laterais Direitos</a></li>
				<li><a href="#defender">Zagueiros</a></li>
				<li><a href="#left_back">Laterais Esquerdos</a></li>				
				<li><a href="#midfield_defense">Volantes</a></li>
				<li><a href="#midfield">Meias</a></li>
				<li><a href="#forwards">Atacantes</a></li>
			</ul>
			<div id="goalkeepers" >
			</div>
			<div id="right_back" >
			</div>
			<div id="defender" >
			</div>
			<div id="left_back" >
			</div>
			<div id="midfield_defense" >
			</div>
			<div id="midfield" >
			</div>					
			<div id="forwards" >
			</div>						
		</div>		
	</div>
	<% end %>
	<div id="slot"></div>
</div>
<div id="matrix"></div>
<div class="pills actions">
	<button id="send_button" name="button" class="btn large danger send">Enviar</button>
</div>
<%= content_for :footer_resources do %>
<% end %>
<%= content_for :javascript do %>
	$( init_soccer_field );
	
	$('#send_button').click(function() {
		send();
	});
	
	$(function() {
		$( "#tabs").tabs();
	});	
<% end %>