<%= render :partial => "simple_menu", :locals => {:title => "Estatísticas"} %>
<br/><br/>
<%= form_tag @formation, :html => {:class => "well form-search"} do |f| %>
	<div class="actions">
		<%= text_field_tag :player_name, nil, :placeholder => "Digite o nome de um jogador (ex: Souza, Gabriel, etc...)", :class => "xxlarge" %>
		<%= button_tag "Pesquisar", :class => "btn" %>
	</div>
<% end %>

<table id="player_list" class="zebra-striped">
  <tr>
	<th><%= t(:sended_to) %></th>
    <th><%= t(:tactical) %></th>
	<th><%= t(:position) %></th>
  </tr>

<% @player.positions.each do |position| %>
  <tr>	
	<td><%= position.formation.owner.nickname %></td>
	<td><%= position.formation.try(:tactical) %></td>
    <td><%= link_to position.description, :action => :show, :id => position.formation  %></td>	
  </tr>
<% end %>
</table>