<%= form_tag @formation do |f| %>
	<%= text_field_tag :player_name, nil, :placeholder => "Digite o nome do Jogador" %>
<% end %>

<table id="player_list" class="zebra-striped">
  <tr>
    <th>Posição</th>
	<th>X</th>
	<th>Y</th>
  </tr>

<% @player.positions.each do |position| %>
  <tr>
    <td><%= link_to position.formation.try(:id), :action => :show, :id => position.formation  %></td>
	<td><%= link_to position.x  %></td>
	<td><%= link_to position.y  %></td>
  </tr>
<% end %>
</table>