<% content_for :title, "Estatísticas" %>
<div class="title">
	<h1>Estatísticas</h1>
</div>
<%= form_tag @formation, :html => {:class => "well form-search"} do |f| %>
	<div class="actions">
		<%= text_field_tag :player_name, nil, :placeholder => "Digite o nome de um jogador (ex: Souza, Gabriel, etc...)", :class => "xxlarge" %>
		<%= button_tag "Pesquisar", :class => "btn" %>
	</div>
<% end %>

<table id="player_list" class="zebra-striped">
  <tr>
	<th><%= t(:position) %></th>
  </tr>

<% @player.positions.each do |position| %>
  <tr>	
    <td><%= link_to position.description, :action => :show, :id => position.formation  %></td>	
  </tr>
<% end %>
</table>