<% content_for :title, "em #{@formation.match}, meu #{Team.bahia.name} joga com #{@formation.tactical}" %>
<%= render :partial => "calendars/match_info", :locals => { :match => @formation.match } %>
<div class="formation-header large">
	<h2 class="tactical"><%= "#{@formation.tactical}" %></h2>			
</div>
<%= render :partial => "formations/players_holders", :locals => { :players_positions => @formation.players_ordered_by_positions } %>			
<div id="soccerField" class="soccer-field-grass show-formation">
	<div id="emptySlot"></div>
</div>
<div id="creator-info" class="show formation">
	<ul>
		<li><%= image_tag(@formation.owner.image, :size => "45x45", :class => "user-avatar") %></li>
		<li><%= "#{t(:sent_by)} #{@formation.owner.nickname}" %></li>
		<li><%= "#{t(:created_at)} #{@formation.created_at.to_s(:day)}" %></li>
		<li class="share"><%= render :partial => "rating/share" %></li>
		<li>
			<div class="pills actions">
				<%= link_to "Táticas enviadas", {:controller => 'calendars', :action => 'formations_matches', :id => @formation.match}, :class => 'icon formations' %>
			</di>
		</li>
	</ul>		         		
</div>
<%= content_for :javascript do %>
	$( load_soccer_field );
	$( load_formation );	
<% end %>