<div class="topbar formation show">
	<ul>
		<li><%= "#{t(:sended_to)} #{@formation.owner.nickname}" %></li>
		<li><%= "#{t(:created_at)} #{@formation.created_at.to_s(:day)}" %></li>	
		<li><%= "Tática enviada para o jogo de #{@formation.match.day.to_s(:day)}" %></li>
		<li><h3><%= "#{@formation.match.home.name} x #{@formation.match.away.name}" %></h3></li>
	</ul>
</div>

	
	<div class="hero-unit">
		<div class="span3">          
			<%= render :partial => "players_holders" %>
		</div>
		<div id="soccerField" class="center">
			<div id="emptySlot"></div>
		</div>		
		<div class="span3 right">          		
		</div>
		<%= render :partial => "facebook_like" %>		
		<%= render :partial => "facebook_comments" %>
		<div id="matrix"></div>
		<div id="json"></div>
	</div>



<%= content_for :javascript do %>
	$( load_soccer_field );
	$( load_formation );	
<% end %>