<% content_for :title, "para #{@formation.match.home.name} x #{@formation.match.away.name}, o meu #{Team.bahia.name} vai de #{@formation.tactical}" %>
<%= render :partial => "show_menu" %>
<div class="hero-unit">
	<h2 class="subtitle"><%= "#{t(:tactical)}: #{@formation.tactical}" %></h2>
	<%= render :partial => 'facebook_like' %>
	<div id="call_up" class="show">          
		<a name="fb_share" type="button" share_url="<%= current_uri %>"><%= t(:share) %></a> 
		<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
		</script>
		<%= render :partial => "players_holders" %>
	</div>
	<div id="soccerField" class="show">
		<div id="emptySlot"></div>
	</div>		
	<div class="show"> 		         		
	</div>
	<%= render :partial => 'facebook_comments' %>
	<div id="matrix"></div>
	<div id="json"></div>
</div>



<%= content_for :javascript do %>
	$( load_soccer_field );
	$( load_formation );	
<% end %>