<%= render :partial => "show_menu" %>
<div class="hero-unit">
	<%= render :partial => 'facebook_like' %>
	<div id="call_up" class="show">          
		<%= render :partial => "players_holders" %>
	</div>
	<div id="soccerField" class="show">
		<div id="emptySlot"></div>
	</div>		
	<div class="show">          		
	</div>
	<%= render :partial => 'facebook_comments' %>
	<div id="matrix"></div>
	<div id="json"></div>
</div>



<%= content_for :javascript do %>
	$( load_soccer_field );
	$( load_formation );	
<% end %>