<!DOCTYPE html>
<html>
<head>
  <title>Seleção Tricolor! - <%= yield(:title) || "Monte o seu esquema tático!" %></title>
  <%= stylesheet_link_tag 'style', 'bootstrap.min', 'themes/base/jquery.ui.all' %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
</head>
<body>	
	<div id="dialog-message" title="Ops...">
		<p id="custom-alert-message"/>
	</div>
	<div class="topbar menu">		
		<div class="container">
			<ul class="pills">
			  <li><%= menu_link_to 'Home', :root %></li>
			  <% if user_signed_in? && current_user.admin? %>
				<li><%= menu_link_to 'Táticas enviadas', :list %></li>
				<li><%= menu_link_to 'Jogadores', :players %></li>
				<li><%= menu_link_to 'Mapeamento de posições', :position_mappers %></li>
				<li><%= menu_link_to 'Times', :teams %></li>
			  <% end %>
			  <li><%= menu_link_to 'Calendário dos Jogos', :calendars %></li>
			  <li><%= menu_link_to 'Estatísticas', :reports %></li>
			</ul>
		</div>
	</div>
	
	<%= render :partial => "users/info" %>
	
	<% if flash[:notice] -%>
		<div id="notice" class="alert-message notice">
			<a class="close notice" onclick="dispose();">×</a>
			<%= flash[:notice] %>
		</div>
	<% end -%>
	<div class="container">
		<div class="content">
			<%= yield %>
		</div>
	</div>
	<div>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-0422734877409240";
		/* Nike */
		google_ad_slot = "6864725662";
		google_ad_width = 300;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	<footer>
		<ul class="pills">
		  <li><%= mail_to "contato@selecaotricolor.com.br", 'Entre em contato conosco' %></li>
		  <li><%= menu_link_to 'Termos de uso', :terms %></li>
		  <li>Versão BETA</li>		
		</ul>
	</footer>

	<%= javascript_include_tag 'jquery-1.7.min', 'rails', 'jquery.ui.core.min', 'jquery.ui.widget.min', 'jquery.ui.mouse.min', 'jquery.ui.draggable.min', 'jquery.ui.droppable.min', 'jquery.ui.position.min', 'jquery.ui.dialog.min', 'jquery.ui.accordion.min', 'formation'  %>
	<script type="text/javascript">
		<%= yield :javascript %>
	
		<!-- Analytics -->
		var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28967114-1']);
		  _gaq.push(['_setDomainName', 'selecaotricolor.com.br']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		<!-- -->
	
		function dispose() {
			$('#notice').toggle();
		}
		function href(uri) {
			window.open(uri, "_blank");
		}
	</script>
</body>
</html>
